In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/imdb-dataset-of-50k-movie-reviews/IMDB Dataset.csv

In [2]:
df=pd.read_csv('/kaggle/input/imdb-dataset-of-50k-movie-reviews/IMDB Dataset.csv')

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
# One review
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

## Text Cleaning

1. Sample 10000 rows
2. Remove html tags
3. Remove special characters
4. Converting every thing to lower case
5. Removing Stop words
6. Stemming

In [5]:
df=df.sample(10000)

In [6]:
df.shape

(10000, 2)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 17849 to 8678
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [8]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [9]:
df.head()

                                                  review  sentiment
17849  I gave this 2 stars out of a possible 10.<br /...          0
44757  No,no,no. That is my advice to you if you are ...          0
10767  The Thing has to be one of the all time great ...          1
34513  Pauline Kael gave this movie a good review but...          0
2080   Latter Days is a very, VERY independent movie....          1

In [10]:
import re
clean = re.compile('<.*?>')
re.sub(clean, '', df.iloc[0].review)

'I gave this 2 stars out of a possible 10.I went into this not realizing what it was - and discovered it is apparently some kind of African musical - since people break into song every few minutes.None of the songs rhyme, most of them aren\'t really saying anything sensible, and they all have the same non-existent tune - if you could call it a "tune."Karmen is a tall, spectacularly built young woman, with the longest braids I\'ve ever seen. [The actress looks as if she has probably done some modeling.]The film opens in a women\'s prison, although not like any prison I\'ve ever seen or heard of -- the inmates wear whatever they wish - and seem to be having a party.Karmen does some frantic dancing, and the woman warden of the prison, Angelique,[a magnificently handsome woman]is definitely erotically interested. She and Karmen dance together. Later Karmen visits the warden\'s room and they make love - unfortunately the scene is not detailed, and is very short, although there is some nudity.Karmen then escapes from the prison and next we see her dancing in front of another group where a man, named Lamine, maybe a Colonel - it was never really clear who he was, watches her. He is with a young woman who dislikes Karmen\'s seductive dancing and there is a dance-off between the two women.After that the story [such as it is] becomes even more muddled.With Lamine in jail, out of jail, and who knows where.Karmen may be involved with a group of smugglers or thieves.There is more singing. More dancing, and a scene of Angelique obviously suffering from heartbreak.The film muddles its way to a finish, and I heaved a sigh of relief that it had ended. '

In [11]:
# Function to clean html tags
def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [12]:
df['review']=df['review'].apply(clean_html)

In [13]:
# converting everything to lower

def convert_lower(text):
    return text.lower()

In [14]:
df['review']=df['review'].apply(convert_lower)

In [15]:
# function to remove special characters

def remove_special(text):
    x=''
    
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x + ' '
    return x

In [16]:
remove_special(' th%e @ classic use of the word.it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare. forget pretty pictures painted for mainstream audiences, f')

' th e   classic use of the word it is called oz as that is the nickname given to the oswald maximum security state penitentary  it focuses mainly on emerald city  an experimental section of the prison where all the cells have glass fronts and face inwards  so privacy is not high on the agenda  em city is home to many  aryans  muslims  gangstas  latinos  christians  italians  irish and more    so scuffles  death stares  dodgy dealings and shady agreements are never far away i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare  forget pretty pictures painted for mainstream audiences  f'

In [17]:
df['review']=df['review'].apply(remove_special)

In [18]:
# Remove the stop words
#nltk= Natural language tool kit(natural language processing)
import nltk

In [19]:
from nltk.corpus import stopwords

In [20]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [21]:
df

                                                  review  sentiment
17849  i gave this 2 stars out of a possible 10 i wen...          0
44757  no no no  that is my advice to you if you are ...          0
10767  the thing has to be one of the all time great ...          1
34513  pauline kael gave this movie a good review but...          0
2080   latter days is a very  very independent movie ...          1
...                                                  ...        ...
36182  we ve just watched the last of the series show...          1
25724  cary grant  douglas fairbanks jr  and victor m...          1
39699  here s what i knew about  atlantis  before wat...          1
23864  okay  i like to give the benefit of the doubt ...          0
8678   in strangers on a train  it s obvious from the...          1

[10000 rows x 2 columns]

In [22]:

def remove_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [23]:
df['review']=df['review'].apply(remove_stopwords)

In [24]:
df

                                                  review  sentiment
17849  [gave, 2, stars, possible, 10, went, realizing...          0
44757  [advice, wanting, see, film, anthony, perkins,...          0
10767  [thing, one, time, great, movies, course, grou...          1
34513  [pauline, kael, gave, movie, good, review, ter...          0
2080   [latter, days, independent, movie, compared, m...          1
...                                                  ...        ...
36182  [watched, last, series, shown, sbs, network, m...          1
25724  [cary, grant, douglas, fairbanks, jr, victor, ...          1
39699  [knew, atlantis, watching, officially, disney,...          1
23864  [okay, like, give, benefit, doubt, watched, sh...          0
8678   [strangers, train, obvious, start, playboy, wa...          1

[10000 rows x 2 columns]

In [25]:
# Perform stemming

from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [26]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [27]:
stem_words(['I','loved','loving','it'])

['I', 'love', 'love', 'it']

In [28]:
df['review']=df['review'].apply(stem_words)

In [29]:
df

                                                  review  sentiment
17849  [gave, 2, star, possibl, 10, went, realiz, dis...          0
44757  [advic, want, see, film, anthoni, perkin, one,...          0
10767  [thing, one, time, great, movi, cours, ground,...          1
34513  [paulin, kael, gave, movi, good, review, terri...          0
2080   [latter, day, independ, movi, compar, mani, to...          1
...                                                  ...        ...
36182  [watch, last, seri, shown, sb, network, miss, ...          1
25724  [cari, grant, dougla, fairbank, jr, victor, mc...          1
39699  [knew, atlanti, watch, offici, disney, first, ...          1
23864  [okay, like, give, benefit, doubt, watch, show...          0
8678   [stranger, train, obviou, start, playboy, wast...          1

[10000 rows x 2 columns]

In [30]:
# Join back

def join_back(list_input):
    return " ".join(list_input)

In [31]:
df['review']=df['review'].apply(join_back)

In [32]:
df['review']

17849    gave 2 star possibl 10 went realiz discov appa...
44757    advic want see film anthoni perkin one norman ...
10767    thing one time great movi cours ground break s...
34513    paulin kael gave movi good review terribl outd...
2080     latter day independ movi compar mani today mod...
                               ...
36182    watch last seri shown sb network miss weekli d...
25724    cari grant dougla fairbank jr victor mclaglen ...
39699    knew atlanti watch offici disney first anim sc...
23864    okay like give benefit doubt watch show funni ...
8678     stranger train obviou start playboy wastrel ro...
Name: review, Length: 10000, dtype: object

In [33]:
X=df.iloc[:,0:1].values

In [34]:
X.shape

(10000, 1)

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=10000)

In [36]:
X=cv.fit_transform(df['review']).toarray()

In [37]:
X.shape

(10000, 10000)

In [38]:
X[0].max()

7

In [39]:
y=df.iloc[:,-1].values

In [40]:
y.shape

(10000,)

In [41]:
# X,y
# Training set
# Test Set(Already know the result)

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [43]:
X_train.shape

(8000, 10000)

In [44]:
X_test.shape

(2000, 10000)

In [45]:
y_train.shape

(8000,)

In [46]:
y_test.shape

(2000,)

In [47]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [48]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [49]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [50]:
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [51]:
y_test.shape

(2000,)

In [52]:
y_pred1.shape

(2000,)

In [53]:
from sklearn.metrics import accuracy_score

In [54]:
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Bernaulli",accuracy_score(y_test,y_pred3))

Gaussian 0.648
Multinomial 0.8425
Bernaulli 0.8335